
body {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main .container {
    width: 940px;
    height: 700px;
    margin: 150px auto;
}

/******** zd video style ********/

.zd-video-container {
    position: relative;
}

.zd-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zd-video-controls {
    width: 100%;
    height: 44px;
    position: absolute;
    /*bottom: 20px;*/
    background-color: #242426;
    left: 0px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transtion: all 0.3s ease;
}

.zd-video-controls.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    visibility: visible;
}

.zd-video-progress {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #666666;
}

.zd-video-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    background-color: #FFFFFF;
}

.zd-video-control {
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.zd-video-control.hide {
    display: none;
}

.zd-video-big-play {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    background-image: url("../images/big-play.svg");
    z-index: 1000;
    display: block;
}

.zd-video-big-play.hide {
    display: none;
}

.zd-video-container.zd-video-ispause .zd-video-big-play {
    display: inline-block !important;
}

.zd-video-container.zd-video-ispause .zd-video-play {
    display: inline-block;
}

.zd-video-container.zd-video-ispause .zd-video-pause {
    display: none;
}

.zd-video-play {
    width: 11px;
    height: 14px;
    background-image: url("../images/play.svg");
}

.zd-video-pause {
    width: 12px;
    height: 14px;
    background-image: url("../images/pause.svg");
}

.zd-video-fullscreen {
    width: 14px;
    height: 14px;
    background-image: url("../images/fullscreen.svg");
}

.zd-video-unfullscreen {
    width: 14px;
    height: 14px;
    background-image: url("../images/unfullscreen.svg");
}

.zd-video-mute {
    width: 12px;
    height: 14px;
    background-image: url("../images/volume.svg");
}

.zd-controls-body {
    padding: 15px 20px;
    line-height: 14px;

}

.zd-controls-left {
    float: left;
}

.zd-controls-right {
    float: right;
}

.zd-video-time {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
}

.zd-video-volume {
    width: 70px;
    height: 2px;
    background-color: #666666;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-left: 6px;
    top: -5px;
    cursor: pointer;
}

.zd-video-volume-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    background-color: #fff;
    width: 50%;
}
